.menu-list {
    display: flex;
}
.menu:after {
    content: "";
    display: block;
    width: 100%;
    border-bottom: 1px solid #eee;
}
.menu {
    background: #3c9689;
}
.menu h1 {
    color: #eee;
    font-size: 32px;
    padding-top: 5px;
    padding-left: 50px;
}

.locales-btn {
    padding-top: 1.3%;
    padding-right: 1.3%;
}

.locales-btn button {
    background: none;
    border: none;
    color: white;
    font-weight: 700;
}