.main {
    border-radius: 7px;
    padding: 15px;
}
.purple {
    background: #429f20;
    border: none;
    width: 300px;
    color: white;
    font-size: 18px;
}
.blue {
    background: cornflowerblue;
}