.icon {
    background: #3c9689;
    opacity: 0.8;
    border-radius: 10px;
}

:global .category {
    height: 100%;
    display: flex;
}

:global .category > div:nth-child(1) {
    width: 40%;
}
:global .category > div:nth-child(2) {
    width: 60%;
}
.category-item {
    display: flex;
    padding: 20px;
    transition: 0.3s all;
}
.category-item p {
    margin-top: 5px;
    padding-bottom: 0;
    margin-bottom: 0;
    padding-left: 10px;
}

.category-item:hover {
    transform: scale(1.1);
    transition: 0.3s all;
    cursor: pointer;
    background: #3c9689;
    border-radius: 10px;
    color: white;
}

.category-list-detailed {
    position: relative;
    width: 100%;
    height: 100%;
}

.category-detailed {
    position: absolute;
    top: 15%;
    width: 560px;
    height: 80%;
    animation: animeCategoryDetailed 0.3s;
    animation-fill-mode: both;
    background: #3c9689;
    border-radius: 10px;
    color: white;
    box-shadow: 0 0 0 9999px rgba(0,0,0,0.5);
    z-index: 99;
}

.category-detailed h1 {
    color: white;
    text-align: center;
}

.category-item-detailed {
    display: flex;
    justify-content: center;
    align-items: center;
}

.category-item-detailed-btn {
    position: absolute;
    bottom: 0;
}

.category-detailed-info {
    width: 100%;
    height: 80%;
    margin-top: 20px;
    overflow-y: auto;
}

.category-detailed-info p {
    padding: 10px 30px;
    font-size: 18px;
}

.categoryInfoTitle {
    width: 100px;
    font-size: 12px;
    color: white;
    padding-left: 10px;
}
.categoryInfoTitle:hover {
  cursor: pointer;
    color: #7ebcff;
}

.category-detailed-info p:hover {
    color: #7ebcff;
   cursor: pointer;
}
@keyframes animeCategoryDetailed {
    from {
        height: 0;
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/*.category-item-detailed {*/
/*    display: flex;*/
/*}*/

.category-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    /*height: 750px;*/
    padding-top: 50px;
    /*margin: 0 auto;*/
}
.category-list:after {
    content: "";
    position: absolute;
    top: 70px;
    height: 92%;
    left: 39.9%;
    border-right: 1px solid #c6c6c6;
}


.category-info {
    width: 150px;
    padding: 10px;
}
:global .category .ant-input-affix-wrapper {
    width: 80% !important;
}
.inputCity {
    padding-left: 45px;
    padding-top: 25px;
    font-size: 18px;
}

.sub-category-icon {
    display: flex;
    padding-left: 30px;
}
.sub-category-icon p {
    position: relative;
    top: 15px;
}
/*:global .category .ant-table {*/
/*    height: 500px;*/
/*}*/
