.result {
    display: block;
    margin: 20px auto;
    width: 30%;
    border: 1px solid grey;
    text-align: center;
    border-radius: 5px;
    padding: 10px 0;
}
.search-form * {
    display: block;
    margin: 0 auto;
}
.title {
    text-align: center;
}
.result-table {
    height: 700px;
    overflow-y: auto;
}
.city,
.query {
    width: 50%;
    height: 40px;
    border: 3px solid #4984b7;
    margin: 10px auto;
    font-size: 22px;
    text-align: center;
    border-radius: 10px;
}
.btn-result {
    width: 20%;
    padding: 10px;
    background: #429f20;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 22px;
    cursor: pointer;
}
/*:global .home .inputs .inputs-item .ant-input-affix-wrapper {*/
/*    width: 90% !important;*/
/*}*/

:global .home .inputs {
    display: flex;
    margin-top: 50px;
    text-align: center;
}

.inputs-item {
    display: flex;
    align-items: center;
    height: 32px;
    margin-left: 40px;
}

:global .home .btn-header {
margin-left: 3%;
}
:global .home .ant-table-wrapper {
    margin-top: 60px;
}