:global .ant-table-thead th {
    background: #f5f5f5 !important;
}
:global .ant-pagination {
    padding-right: 40px;
}
.search-maps {
    color: #7ebcff;
}
.search-maps:hover {
    color: #40a9ff;
    cursor: pointer;
}
