@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@global-import 'antd/dist/antd.css';

body {
    font-family: 'Roboto', sans-serif !important;
}

:global .ant-menu-horizontal {
    border-bottom: none !important;
}
:global .anticon-question-circle {
    color: #d6d6d6;
    padding-left: 3%;
}
:global .ant-menu {
    display: block !important;
    margin: 0 auto !important;
    background: #3c9689 !important;
    padding-top: 10px !important;
}

:global .ant-menu-item,
:global .ant-menu-item svg {
    /*padding-left: 25%!important;*/
    font-size: 18px;
    color: white !important;
}

:global .ant-menu-horizontal > .ant-menu-item a {
    color: white !important;
}
:global .ant-menu-item-selected {
    border-bottom: 2px solid white!important;
}
:global .ant-menu-item-active {
    border-bottom: 2px solid white!important;
}

:global .home .ant-table-wrapper {
    padding: 0 40px!important;
}