.modal {
    width: 100%;
    height: 100%;
}

.modal-window {
    position: absolute;
    width: 80%;
    box-shadow: 0px 0px 8px 999px rgba(0, 0, 0, 0.4);
    height: 70%;
    background: #d8d8d8;
    top: 10%;
    bottom: 0px;
    right: 0px;
    left: 0px;
    display: block;
    margin: 0 auto;
    z-index: 99;
    border-radius: 7px;
}
:global .modal .ant-input {
    color: black;
    font-size: 18px;
}