.auth-input {
    border: none;
    border-bottom: 3px solid green;
    background: none;
    width: 40%;
    margin-top: 10px!important;
    margin-bottom: 40px!important;
    font-size: 18px;
    color: black;
}

.title {
    font-size: 24px;
    font-weight: 700;
    color: black;
}
